<p id="warp">ты подключен к WARP</p>

<script async is:inline>
  async function isPlus(callback) {
    const response = await fetch('/cdn-cgi/trace')

    if (response.ok && (await response.text()).includes('warp=plus')) {
      callback()
    }
  }

  isPlus(() => (document.querySelector('#warp').textContent += '+'))
</script>
