---
import Text from '@components/Text.astro'
---

<p id="warp"><Text key="request.warp" /></p>

<script is:inline>
  async function isPlus(callback) {
    const response = await fetch('/cdn-cgi/trace')

    if (response.ok && (await response.text()).includes('warp=plus')) {
      callback()
    }
  }

  isPlus(() => (document.querySelector('#warp').textContent += '+'))
</script>
