---
import { ViewTransitions } from 'astro:transitions'

type Opts = {
  title: string
  description: string
}

// todo
type Props = Opts & { frontmatter?: Opts }

const { title, description } = Astro.props.frontmatter ?? Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="og:image" content="/favicon-192x192.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>{title}</title>
    <meta name="og:title" content={title} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' connect-src: 'self' cloudflarestatus.com;"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#ffffff"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#202020"
    />
    <meta name="description" content={description} />
    <meta name="og:description" content={description} />
    <ViewTransitions />
  </head>
  <body>
    <main class="center" transition:animate="none">
      <slot />
    </main>
  </body>
</html>
<style is:global>
  :root {
    --button-blue: rgb(0, 81, 195);
    --button-blue-hover: rgb(0, 54, 129);
    --button-text-color: rgb(242, 242, 242);
    --text-color: rgb(0, 0, 0);
    --background-color: rgb(255, 255, 255);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background-color: rgb(32, 32, 32);
      --text-color: rgb(242, 242, 242);
    }
  }

  body {
    font-family:
      BlinkMacSystemFont,
      Segoe UI,
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      Fira Sans,
      Droid Sans,
      'Helvetica Neue',
      sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
  }

  * {
    border: 0;
    padding: 0;
  }

  h1 {
    font-weight: 300;
    font-size: 50px;
    margin-bottom: 10px;
  }

  a {
    color: var(--button-blue);
  }

  @media (hover: hover) {
    a:hover {
      color: var(--button-blue-hover);
    }
  }

  .button {
    display: inline-block;
    background-color: var(--button-blue);
    color: var(--button-text-color);
    text-decoration: none;
    padding: 25px;
    margin: 0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    user-select: none;
    line-height: 0;
    transition: all 0.2s;
    cursor: pointer;
  }

  .button:hover {
    background-color: var(--button-blue-hover);
  }

  main {
    display: block !important;
    max-width: 750px;
    width: calc(90% - 160px);
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding-left: 160px;
  }

  main.center {
    max-width: 650px;
    width: 80%;
    padding-left: 0;
  }
</style>
